.feedbackContainer {
  margin-top: 80px;
  background-color: #181818;
  text-align: center;
  padding: 50px 0px;
  position: relative;
}

.feedbackContainer > h4 {
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.feedbackContainer > ul {
  display: flex;
  justify-content: space-between;
  width: 154px;
  margin: 30px auto 0;
}

.after {
  display: flex;
  justify-content: center !important;
  /* opacity: 0; */
}

.feedbackContainer > .hide {
  visibility: visible;
  opacity: 1;
}

.feedbackContainer > .thanks {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -85px;
}

.feedbackContainer > ul > li > div {
  line-height: 19px;
  font-size: 0.8125rem;
  display: flex;
  flex-direction: column;
}

.goodIcon {
  width: 62px;
  height: 62px;
  background-color: #333333;
  background-image: url("/assets/icons/ico_heart_yellow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.badIcon {
  width: 62px;
  height: 62px;
  background-color: #333333;
  background-image: url("/assets/icons/ico_balloon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.hideIcon {
  opacity: 0;
}
