.topArea {
  position: sticky;
  background-color: #ffffff;
  height: 56px;
  padding: 0px 20px;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}

.historyBack {
  z-index: 2;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
