.group {
  margin-top: 80px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 1.375rem;
}

.swiperContainer {
  height: 613px;
  padding: 30px 0;
}

.swiperContainer :global(.swiper-wrapper) {
  width: 13056px !important;
}

.swiperContainer :global(.swiper-slide) {
  box-sizing: border-box;
  width: 252px;
  margin: 0px 10px;
  padding: 25px 15px;
  transition: 0.7s;
}

.swiperContainer :global(.swiper-slide) > img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.swiperContainer :global(.swiper-slide-active) {
  padding: 0px;
}

.swiperContainer :global(.swiper-slide) > div {
  visibility: hidden;
}

.swiperContainer :global(.swiper-slide-active) > div {
  padding: 0px;
  visibility: visible;
}

.explanation {
  text-align: center;
  font-weight: bold;
  color: #cccccc;
  margin: 20px 0px;
  font-size: 0.875rem;
}
